.features__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    margin-bottom: 0;
  }
}

.features__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    margin-bottom: 0;
    flex-basis: calc((100% - 120px) / 4);
  }
}

.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
